# Credenciais para o Desafio 1
DESAFIO=1
MARATONA_ID=117028


# Watson Assistant
SERVICE_ENDPOINT=https://gateway-wdc.watsonplatform.net/assistant/api
IAM_APIKEY=yI0gFiP6jAXhVc2Ujzu8m_J878G03H5I5udH3hQoOEaA
WORKSPACE_ID=ad400566-4c71-4db9-af65-b240bd427c28
             
USERNAME=apikey
PASSWORD=yI0gFiP6jAXhVc2Ujzu8m_J878G03H5I5udH3hQoOEaA

PORT=3000